@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
    @apply border-2 border-gray-300 rounded-md px-2 py-1 w-full;
    @apply mb-2
    
}

input:focus , textarea:focus {
    @apply border-blue-900;
}

h1{
    @apply text-blue-900 mb-2 text-xl;
}

label {
    @apply text-blue-900;
}
.btn-primary {
    @apply bg-blue-900 text-white px-4 rounded-md py-1 
}
table.basic {
    @apply w-full
}
table.basic thead tr td {
    @apply bg-blue-100
}
table.basic tr td {
    @apply  border border-blue-200 p-1;
}
table.basic a {
    @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1  
}
.ckWidget{
    padding: 10px;
}
.ckWidget:hover{
    background-color: lightblue;
    transition: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.ckMainWidgetLoader .card-title{
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 0;
}
.ckMainWidgetLoader .card-text{
    font-size: 10px;
    padding: 0px 10px 5px 10px;
    margin-bottom: 0;
}
.ckMainWidgetLoader .card-body{
    padding: 10px;
    margin-bottom: 0;
}
.ckMainWidgetLoader .card button {
    width: 100%;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    padding: 5px 0;
}
.ckMainWidgetLoader .card{
    @apply shadow-lg;
    border: 0;
}
.ckDropdownButon{
    @apply bg-gray-200 !important;
    @apply  px-2 py-3 !important;
    @apply focus:shadow-none;
}

